services:
  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    container_name: openldr-minio
    hostname: openldr-minio
    restart: unless-stopped
    command: server /data --address ":9000" --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_BROWSER_REDIRECT_URL=${MINIO_BROWSER_REDIRECT_URL}
    ports:
      - "${MINIO_API_PORT}:9000"
      - "${MINIO_CONSOLE_PORT}:9001"
    volumes:
      - minio_data:/data
      - ./config:/opt/config:ro
    networks:
      - openldr-network
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 30s
      timeout: 20s
      retries: 30
      start_period: 30s
    deploy:
      resources:
        limits:
          cpus: ${CPU_LIMIT}
          memory: ${MEMORY_LIMIT}
        reservations:
          memory: ${MEMORY_RESERVATIONS}
    memswap_limit: ${MEMSWAP_LIMIT}

volumes:
  minio_data:

networks:
  openldr-network:
    name: openldr-network
    external: true
