:root {
  --spacing-scale: 2;
  --spacing-xs: 4;
  --spacing-sm: 8;
  --spacing-md: 16;
  --spacing-lg: 32;
  --spacing-xl: 64;
  --sizing-scale: 1.5;
  --sizing-xs: 4;
  --sizing-sm: 6;
  --sizing-md: 9;
  --sizing-lg: 13.5;
  --sizing-xl: 20.25;
  --border-width-none: 0;
  --border-width-xs: 1;
  --border-width-sm: 2;
  --border-width-md: 4;
  --border-width-lg: 8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #67000d;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdab68;
  --color-orange-400: #fd8a3c;
  --color-orange-500: #fb6d1b;
  --color-orange-600: #f97316;
  --color-orange-700: #ea580c;
  --color-orange-800: #d14209;
  --color-orange-900: #9a3412;
  --color-orange-950: #7c2d12;
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fce588;
  --color-amber-300: #fbbf24;
  --color-amber-400: #f59e0b;
  --color-amber-500: #d97706;
  --color-amber-600: #b45309;
  --color-amber-700: #9a3412;
  --color-amber-800: #7c2d12;
  --color-amber-900: #7f1d1d;
  --color-amber-950: #6b16b0;
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c3;
  --color-yellow-200: #fef08a;
  --color-yellow-300: #fde047;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
  --color-yellow-600: #ca8a04;
  --color-yellow-700: #a16207;
  --color-yellow-800: #854d0e;
  --color-yellow-900: #713f12;
  --color-yellow-950: #6c2a07;
  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-400: #a3e635;
  --color-lime-500: #84cc16;
  --color-lime-600: #65a30d;
  --color-lime-700: #4d7c0f;
  --color-lime-800: #3f6212;
  --color-lime-900: #365314;
  --color-lime-950: #1b3a1a;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;
  --color-green-950: #064e3b;
  --color-emerald-50: #d1fae5;
  --color-emerald-100: #a7f3d0;
  --color-emerald-200: #6ee7b7;
  --color-emerald-300: #34d399;
  --color-emerald-400: #10b981;
  --color-emerald-500: #059669;
  --color-emerald-600: #047857;
  --color-emerald-700: #065f46;
  --color-emerald-800: #064e3b;
  --color-emerald-900: #064e3b;
  --color-emerald-950: #164e63;
  --color-teal-50: #e6fffa;
  --color-teal-100: #b2f5ea;
  --color-teal-200: #81e6d9;
  --color-teal-300: #4fd1c5;
  --color-teal-400: #38b2ac;
  --color-teal-500: #319795;
  --color-teal-600: #2c7a7b;
  --color-teal-700: #285e61;
  --color-teal-800: #234e52;
  --color-teal-900: #1d4044;
  --color-teal-950: #234e52;
  --color-cyan-50: #e0f7fa;
  --color-cyan-100: #b2ebf2;
  --color-cyan-200: #80deea;
  --color-cyan-300: #4dd0e1;
  --color-cyan-400: #26c6da;
  --color-cyan-500: #00bcd4;
  --color-cyan-600: #00acc1;
  --color-cyan-700: #00838f;
  --color-cyan-800: #006064;
  --color-cyan-900: #004d40;
  --color-cyan-950: #003d33;
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #7dd3fc;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;
  --color-sky-800: #075985;
  --color-sky-900: #0c4a6e;
  --color-sky-950: #003d52;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172a72;
  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c7d2fe;
  --color-indigo-300: #a5b4fc;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-800: #3730a3;
  --color-indigo-900: #312e81;
  --color-indigo-950: #1e1b4b;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-200: #ddd6fe;
  --color-violet-300: #c4b5fd;
  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-violet-600: #7c3aed;
  --color-violet-700: #6d28d9;
  --color-violet-800: #5b21b6;
  --color-violet-900: #4c1d95;
  --color-violet-950: #3b0a45;
  --color-purple-50: #f3e8ff;
  --color-purple-100: #e9d5ff;
  --color-purple-200: #d8b4fe;
  --color-purple-300: #c084fc;
  --color-purple-400: #a855f7;
  --color-purple-500: #9333ea;
  --color-purple-600: #7e22ce;
  --color-purple-700: #6b21a8;
  --color-purple-800: #581c87;
  --color-purple-900: #4c1d6e;
  --color-purple-950: #3a0e4f;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #f9d8ff;
  --color-fuchsia-200: #f0abfc;
  --color-fuchsia-300: #e879f9;
  --color-fuchsia-400: #d946ef;
  --color-fuchsia-500: #c026d3;
  --color-fuchsia-600: #a21caf;
  --color-fuchsia-700: #86198f;
  --color-fuchsia-800: #701a75;
  --color-fuchsia-900: #6a1c5c;
  --color-fuchsia-950: #4b0d3b;
  --color-pink-50: #fce7f3;
  --color-pink-100: #fbbfcb;
  --color-pink-200: #f9a8d4;
  --color-pink-300: #f472b6;
  --color-pink-400: #ec4899;
  --color-pink-500: #db2777;
  --color-pink-600: #be185d;
  --color-pink-700: #9d174d;
  --color-pink-800: #831843;
  --color-pink-900: #701a3e;
  --color-pink-950: #4f1032;
  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #fecdd3;
  --color-rose-300: #fda4af;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-rose-700: #be123c;
  --color-rose-800: #9f1239;
  --color-rose-900: #881337;
  --color-rose-950: #6a0c29;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #0a0f1c;
  --color-slate-dark-1: #151718;
  --color-slate-dark-2: #1a1d1e;
  --color-slate-dark-3: #202425;
  --color-slate-dark-4: #26292b;
  --color-slate-dark-5: #2b2f31;
  --color-slate-dark-6: #313538;
  --color-slate-dark-7: #3a3f42;
  --color-slate-dark-8: #4c5155;
  --color-slate-dark-9: #697177;
  --color-slate-dark-10: #787f85;
  --color-slate-dark-11: #9ba1a6;
  --color-slate-dark-12: #ecedee;
  --color-slate-dark-alpha-1: rgba(0, 0, 0, 0);
  --color-slate-dark-alpha-2: rgba(213, 254, 255, 0.03);
  --color-slate-dark-alpha-3: rgba(214, 251, 252, 0.06);
  --color-slate-dark-alpha-4: rgba(226, 240, 253, 0.08);
  --color-slate-dark-alpha-5: rgba(223, 243, 253, 0.11);
  --color-slate-dark-alpha-6: rgba(223, 239, 254, 0.14);
  --color-slate-dark-alpha-7: rgba(224, 243, 255, 0.18);
  --color-slate-dark-alpha-8: rgba(229, 242, 254, 0.26);
  --color-slate-dark-alpha-9: rgba(225, 241, 255, 0.41);
  --color-slate-dark-alpha-10: rgba(231, 243, 255, 0.47);
  --color-slate-dark-alpha-11: rgba(239, 247, 255, 0.62);
  --color-slate-dark-alpha-12: rgba(253, 254, 255, 0.93);
  --color-slate-light-1: #fbfcfd;
  --color-slate-light-2: #f8f9fa;
  --color-slate-light-3: #f1f3f5;
  --color-slate-light-4: #eceef0;
  --color-slate-light-5: #e6e8eb;
  --color-slate-light-6: #dfe3e6;
  --color-slate-light-7: #d7dbdf;
  --color-slate-light-8: #c1c8cd;
  --color-slate-light-9: #889096;
  --color-slate-light-10: #7e868c;
  --color-slate-light-11: #687076;
  --color-slate-light-12: #11181c;
  --color-slate-light-alpha-1: rgba(5, 68, 130, 0.02);
  --color-slate-light-alpha-2: rgba(5, 41, 77, 0.03);
  --color-slate-light-alpha-3: rgba(0, 37, 73, 0.05);
  --color-slate-light-alpha-4: rgba(2, 28, 55, 0.08);
  --color-slate-light-alpha-5: rgba(2, 23, 53, 0.1);
  --color-slate-light-alpha-6: rgba(1, 33, 57, 0.13);
  --color-slate-light-alpha-7: rgba(0, 26, 51, 0.16);
  --color-slate-light-alpha-8: rgba(1, 30, 50, 0.24);
  --color-slate-light-alpha-9: rgba(0, 17, 30, 0.47);
  --color-slate-light-alpha-10: rgba(0, 16, 27, 0.51);
  --color-slate-light-alpha-11: rgba(0, 14, 24, 0.59);
  --color-slate-light-alpha-12: rgba(0, 8, 12, 0.93);
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #0f172a;
  --color-gray-1100: #0f172a;
  --color-gray-dark-1: #161616;
  --color-gray-dark-2: #1c1c1c;
  --color-gray-dark-3: #232323;
  --color-gray-dark-4: #282828;
  --color-gray-dark-5: #2e2e2e;
  --color-gray-dark-6: #343434;
  --color-gray-dark-7: #3e3e3e;
  --color-gray-dark-8: #505050;
  --color-gray-dark-9: #707070;
  --color-gray-dark-10: #7e7e7e;
  --color-gray-dark-11: #a0a0a0;
  --color-gray-dark-12: #ededed;
  --color-gray-dark-alpha-1: rgba(0, 0, 0, 0);
  --color-gray-dark-alpha-2: rgba(255, 255, 255, 0.03);
  --color-gray-dark-alpha-3: rgba(255, 255, 255, 0.06);
  --color-gray-dark-alpha-4: rgba(255, 255, 255, 0.08);
  --color-gray-dark-alpha-5: rgba(255, 255, 255, 0.1);
  --color-gray-dark-alpha-6: rgba(255, 255, 255, 0.13);
  --color-gray-dark-alpha-7: rgba(255, 255, 255, 0.17);
  --color-gray-dark-alpha-8: rgba(255, 255, 255, 0.25);
  --color-gray-dark-alpha-9: rgba(255, 255, 255, 0.39);
  --color-gray-dark-alpha-10: rgba(255, 255, 255, 0.45);
  --color-gray-dark-alpha-11: rgba(255, 255, 255, 0.59);
  --color-gray-dark-alpha-12: rgba(255, 255, 255, 0.92);
  --color-gray-light-1: #fcfcfc;
  --color-gray-light-2: #f8f8f8;
  --color-gray-light-3: #f3f3f3;
  --color-gray-light-4: #ededed;
  --color-gray-light-5: #e8e8e8;
  --color-gray-light-6: #e2e2e2;
  --color-gray-light-7: #dbdbdb;
  --color-gray-light-8: #c7c7c7;
  --color-gray-light-9: #8f8f8f;
  --color-gray-light-10: #858585;
  --color-gray-light-11: #6f6f6f;
  --color-gray-light-12: #171717;
  --color-gray-light-alpha-1: rgba(0, 0, 0, 0.01);
  --color-gray-light-alpha-2: rgba(0, 0, 0, 0.03);
  --color-gray-light-alpha-3: rgba(0, 0, 0, 0.05);
  --color-gray-light-alpha-4: rgba(0, 0, 0, 0.07);
  --color-gray-light-alpha-5: rgba(0, 0, 0, 0.09);
  --color-gray-light-alpha-6: rgba(0, 0, 0, 0.11);
  --color-gray-light-alpha-7: rgba(0, 0, 0, 0.14);
  --color-gray-light-alpha-8: rgba(0, 0, 0, 0.22);
  --color-gray-light-alpha-9: rgba(0, 0, 0, 0.44);
  --color-gray-light-alpha-10: rgba(0, 0, 0, 0.48);
  --color-gray-light-alpha-11: rgba(0, 0, 0, 0.56);
  --color-gray-light-alpha-12: rgba(0, 0, 0, 0.91);
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #0f0f11;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-stone-50: #fafaf9;
  --color-stone-100: #f5f5f4;
  --color-stone-200: #e7e5e4;
  --color-stone-300: #d6d3d1;
  --color-stone-400: #a8a29e;
  --color-stone-500: #78716c;
  --color-stone-600: #57534e;
  --color-stone-700: #44403c;
  --color-stone-800: #292524;
  --color-stone-900: #1c1917;
  --color-stone-950: #0f0e0d;
  --color-control: #2a4d88;

  /* --color-background: #2a4d63;
  --color-foreground: #f1f8fc; */
  --color-card: #3a627f;
  --color-card-foreground: #e5f1f9;
  --color-popover: #2b4a61;
  --color-popover-foreground: #d0e4f2;
  --color-primary: #4682b4;
  --color-primary-foreground: #ffffff;
  --color-secondary: #5a8fa6;
  --color-secondary-foreground: #f0faff;
  --color-muted: #627e92;
  --color-muted-foreground: #2a4d63;
  --color-accent: #39709d;
  --color-accent-foreground: #f4fbff;
  --color-destructive: #d94c5b;
  --color-destructive-foreground: #ffffff;
  --color-border: #4e6a7a;
  --color-input: #4b6d82;
  --color-ring: #8fa9be;
  --color-chart-1: #64a1c1;
  --color-chart-2: #89b9c6;
  --color-chart-3: #aec9d2;
  --color-chart-4: #d1dae0;
  --color-chart-5: #e7eff5;
  --color-sidebar-background: #3c5f7a;
  --color-sidebar-foreground: #f0f8ff;
  --color-sidebar-primary: #2e4d66;
  --color-sidebar-primary-foreground: #f7fefe;
  --color-sidebar-accent: #4c7399;
  --color-sidebar-accent-foreground: #f0f9fd;
  --color-sidebar-border: #4a687a;
  --color-sidebar-ring: #80a2b5;
  --color-surface-75: #171717;
  --color-surface-100: #1f1f1f;
  --color-surface-200: #212121;
  --color-surface-300: #292929;
  --color-surface-400: #292929;
  --color-studio: #2a4d63;
  --color-border-default: #2e2e2e;
  --color-border-muted: #242424;
  --color-overlay: #333333;
  --color-overlay-hover: #333366;
  --color-border-control: #393939;
  --color-alternative: #444444;
  --color-strong: #363636;
  --color-stronger: #454545;
  --color-border-stronger: #454545;
  --color-border-button-default: #3e3e3e;
  --color-border-button-hover: #505050;
  --color-foreground-default: #fafafa;
  --color-foreground-light: #b4b4b4;
  --color-foreground-lighter: #898989;
  --color-foreground-muted: #4d4d4d;
  --color-foreground-contrast: #161616;
  --color-brand-200: #000a07;
  --color-brand-300: #002918;
  --color-brand-400: #00311d;
  --color-brand-500: #006239;
  --color-brand-600: #85e0ba;
  --color-brand-default: #621800;
  --color-brand-default-600: #621800;
  --color-brand-button: #006239;
  --color-brand-link: #00c573;
  --color-scale-fixed-100: #000a07;
  --color-grid: #2e2e2e;
  --color-dash-canvas: #121212;
  --color-dash-sidebar: #171717;
  --color-typography-body-light: #000a07;
  --color-typography-body-dark: #000a07;
  --color-background-alternative-200: #1c1c1c;
  --color-background-alternative-default: #0f0f0f;
  --color-green-1000: #161616;
  --opacity-low: 10%;
  --opacity-md: 50%;
  --opacity-high: 90%;
  --font-families-heading: Inter;
  --font-families-body: Circular Std;
  --font-families-roboto: Roboto;
  --font-families-body2: Circular Std;
  --font-families-mono: Office Code Pro;
  --line-heights-0: 110%;
  --line-heights-heading: 110%;
  --line-heights-base: 1.5;
  --line-heights-xs: 16;
  --line-heights-sm: 20;
  --line-heights-lg: 28;
  --line-heights-xl: 28;
  --line-heights-2xl: 32;
  --line-heights-3xl: 36;
  --line-heights-4xl: 40;
  --line-heights-5xl: 48;
  --line-heights-6xl: 60;
  --line-heights-7xl: 72;
  --line-heights-8xl: 96;
  --line-heights-9xl: 128;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -2%;
  --letter-spacing-default: 0;
  --letter-spacing-increased: 10%;
  --letter-spacing-decreased: -5%;
  --letter-spacing-8: 8%;
  --paragraph-spacing-0: 26;
  --paragraph-spacing-1: 32;
  --paragraph-spacing-h1: 32;
  --paragraph-spacing-h2: 26;
  --font-weights-heading-regular: Regular;
  --font-weights-heading-bold: Bold;
  --font-weights-body-regular: Regular;
  --font-weights-body-bold: Bold;
  --font-weights-roboto-0: Regular;
  --font-weights-inter-1: Medium;
  --font-weights-inter-2: Book;
  --font-weights-heading-mono: Medium;
  --font-sizes-5xl: 48;
  --font-sizes-4xl: 36;
  --font-sizes-3xl: 30;
  --font-sizes-2xl: 24;
  --font-sizes-xl: 20;
  --font-sizes-lg: 18;
  --font-sizes-base: 1;
  --font-sizes-sm: 14;
  --font-sizes-xs: 12;
  --font-sizes-6xl: 60;
  --font-sizes-7xl: 72;
  --font-sizes-8xl: 96;
  --font-sizes-9xl: 128;
  --font-size-0: 14;
  --font-size-1: 39.063;
  --font-size-2: 48.829;
  --text-case-none: none;
  --text-case-uppercase: uppercase;
  --text-decoration-none: none;
  --icon-xs: 12;
  --icon-sm: 16;
  --icon-md: 18;
  --icon-bg: 0.15;
  --icon-width-default: 1;
  --form-input-disabled: 33%;
  --datatable-headericon: 16;
  --datatable-rowheight: 28;
  --options-icon: 18;
  --input-sm-height: 28;
  --base: 16;
  --xxl: 128;
  --action-bar-vertical: 21;
  --action-bar-horizontal: 32;
  --table-header-horizontal: 32;
  --tabs-horizontal: 16;
  --content-vertical: 32;
  --content-horizontal: 32;
  --controller-vertical: 16;
  --typography-h1-bold: normal normal Medium 48/48 Circular Std;
  --typography-h1-regular: normal normal Book 48/48 Circular Std;
  --typography-h2-bold: normal normal Medium 36/40 Circular Std;
  --typography-h2-regular: normal normal Book 36/40 Circular Std;
  --typography-h3-bold: normal normal Medium 30/36 Circular Std;
  --typography-h3-regular: normal normal Book 30/36 Circular Std;
  --typography-h4-bold: normal normal Medium 24/32 Circular Std;
  --typography-h4-regular: normal normal Book 24/32 Circular Std;
  --typography-h4-mono: normal normal Medium 24/32 Office Code Pro;
  --typography-h5-bold: normal normal Medium 20/28 Circular Std;
  --typography-h5-regular: normal normal Book 20/28 Circular Std;
  --typography-body-base-normal: normal normal Book 1/1.5 Circular Std;
  --typography-body-base-mono: normal normal Medium 14/32 Office Code Pro;
  --typography-body-lg-normal: normal normal Book 18/28 Circular Std;
  --typography-body-xs-normal: normal normal Book 12/16 Circular Std;
  --typography-body-xs-code-header: normal normal Medium 12/20 Office Code Pro;
  --typography-body-sm-normal: normal normal Book 14/20 Circular Std;
  --typography-body-sm-code-header: normal normal Regular 14/20 Office Code Pro;
  --typography-body-sm-code-normal: normal normal Regular 14/20 Office Code Pro;
  --typography-body-sm-bullet-points: normal normal Book 14/20 Circular Std;
  --typography-button-xs: normal normal Book 12/16 Circular Std;
  --typography-button-sm: normal normal Book 14/20 Circular Std;
  --typography-form-label: normal normal Book 14/20 Circular Std;
  --typography-form-label-secondary: normal normal Book 14/20 Circular Std;
  --typography-table-header: normal normal Book 12/20 Circular Std;
  --radius-9xl: 4096px;
  --radius-8xl: 2048px;
  --radius-7xl: 1024px;
  --radius-6xl: 512px;
  --radius-5xl: 256px;
  --radius-4xl: 128px;
  --radius-3xl: 64px;
  --radius-2xl: 32px;
  --radius-xl: 16px;
  --radius-lg: 8px;
  --radius-sm: 4px;
  --radius-xs: 2px;
}
