@font-face {
  font-family: circular;
  src:
    url(./assets/CustomFont-Medium.woff2) format("woff2"),
    url(./assets/CustomFont-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-background: #ffffff;
  --color-foreground: #000000;
}
[data-theme="deep-dark"],
.deep-dark,
[data-theme="dark"],
.dark {
  --color-background: #171717;
  --color-foreground: #e1f1f9;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: circular;
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow: hidden;
}

/* html:not([data-theme-set]) body {
  opacity: 0;
} */

#loading-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
  z-index: 9999;
}

.spinner-svg-wrapper {
  display: flex;
  width: 16px;
  height: 16px;
}

.spinner-text {
  display: flex;
  margin-top: 16px;
  font-family: circular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0px;
}

.animate-spin {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
