services:
  opensearch:
    image: opensearchproject/opensearch:2.18.0
    container_name: openldr-opensearch
    hostname: openldr-opensearch
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - plugins.ml_commons.only_run_on_ml_node=false
      - plugins.ml_commons.native_memory_threshold=0
      - OPENSEARCH_JAVA_OPTS=-Xms${OPENSEARCH_MEMORY:-512m} -Xmx${OPENSEARCH_MEMORY:-512m}
      - DISABLE_INSTALL_DEMO_CONFIG=true
      - DISABLE_SECURITY_PLUGIN=true
    ports:
      - ${OPENSEARCH_PORT}:9200
      - 9600:9600 # Performance Analyzer port (9600) - Internal monitoring and diagnostics port for OpenSearch metrics collection
    networks:
      - openldr-network
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    deploy:
      resources:
        limits:
          # cpus: ${CPU_LIMIT}
          memory: 2G
        reservations:
          memory: 1024M
    memswap_limit: 3G

  # opensearch-dashboard:
  #   image: opensearchproject/opensearch-dashboards:2.18.0
  #   container_name: openldr-opensearch-dashboard
  #   ports:
  #     - ${OPENSEARCH_DASHBOARD_PORT}:5601
  #   environment:
  #     - OPENSEARCH_HOSTS=["http://openldr-opensearch:9200"]
  #     - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
  #     - SERVER_BASEPATH=/opensearch-dashboard
  #     - SERVER_REWRITEBASEPATH=false
  #   networks:
  #     - openldr-network
  #   depends_on:
  #     - opensearch

volumes:
  opensearch-data: {}

networks:
  openldr-network:
    name: openldr-network
    external: true
